# Library/PackageCache has too large files
Algorithm_of_Delivery/Library/PackageCache/
Algorithm_of_Delivery/Library/ShaderCache/
Algorithm_of_Delivery/Temp/
Algorithm_of_Delivery/Library/BurstCache
Algorithm_of_Delivery/Library/Bee
Algorithm_of_Delivery/Library/ArtifactDB
Algorithm_of_Delivery/Library/ArtifactDB-lock


